body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}


/* Estilos CSS para la interfaz de usuario */

.perfil-usuario {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.perfil-usuario .informacion-personal,
.perfil-usuario .informacion-profesional {
    margin-bottom: 15px;
}

.perfil-usuario label {
    display: block;
    margin-bottom: 5px;
}

.perfil-usuario input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.perfil-usuario button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.perfil-usuario button:hover {
    background-color: #45a049;
}

.cliente-info {
    margin-bottom: 10px;
    /* Ajusta el margen inferior según sea necesario */
    padding: 10px;
    /* Ajusta el relleno según sea necesario */
    border: 1px solid #ccc;
    /* Agrega un borde para resaltar */
    border-radius: 5px;
    /* Agrega esquinas redondeadas */
}

.cliente-id {
    font-weight: bold;
    /* Hace que el texto del ID sea negrita */
}

.mascota-item {
    margin-bottom: 20px;
    /* Margen inferior para separar los elementos */
    padding: 10px;
    /* Relleno para espacio interno */
    border: 1px solid #ccc;
    /* Borde para resaltar el elemento */
    border-radius: 5px;
    /* Esquinas redondeadas */
    background-color: #f9f9f9;
    /* Color de fondo */
}


/* Estilos para el nombre de la mascota */

.mascota-nombre {
    font-weight: bold;
    /* Hace que el nombre sea negrita */
    margin-bottom: 5px;
    /* Margen inferior para separar del botón */
}


/* Estilos para el botón de agendar cita */

.agendar-btn {
    margin-top: 5px;
    /* Margen superior para separar del nombre */
}